<ng-container *ngIf="wrappedItem | async; let item">
	<article class="item">
		<h2 class="title">{{ item.title }}</h2>

		<div class="meta">
			<span class="score">{{ item.score }} points</span>

			<span class="by">
	      &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;by <a [routerLink]="['/user', item.by]">{{ item.by }}</a>
	    </span>

	    <span class="time">
	      &nbsp;{{ getLapsedTime(item.time) }} ago
	    </span>
	  </div>
	</article>

	<section *ngIf="item.kids" class="comments">
		<h3 class="comment-count">{{ item.kids.length }} comment{{ item.kids.length > 1 ? 's' : '' }}</h3>

		<comment *ngFor="let commentID of item.kids" [commentID]="commentID"></comment>
	</section>
</ng-container>