@import 'helpers/helper';

:host {
	@extend %horizontal-content;

	flex-wrap: nowrap;
	position: relative;
	background-color: $mint;

	@include md {
		&:before,
		&:after {
			content: '';
			width: calc((100vw - #{$breakpoint-md}) / 2);
			height: 100%;
			position: absolute;
			top: 0;
			background-color: inherit;
		}

		&:before {
			right: 100%;
		}

		&:after {
			left: 100%;
		}
	}
}

nav {
	width: 100%; // not sure why this is necessary
}

ul {
	display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

li {
	flex: 1;
	display: inline-block;
  text-align: center;
  vertical-align: middle;

  &:first-child {
  	text-align: left;
  }

  &:last-child {
  	text-align: right;
  }

	a {
		display: inline-block;
		font-size: 17px;
		line-height: 26px;
		padding: 0.75em 0.5em;
		color: rgba(white, 0.8);
		font-weight: bold;

		&:hover,
		&.active {
			text-decoration: none;
			color: white;
		}

		&.active {
			// don't allow clicks on "active" links (links to the current page) activate anything
			pointer-events: none;
			cursor: default;
		}
	}

	.logo,
	.github {
		max-height: 51.5px;
	}

	.github-text {
		display: none;

		vertical-align: top;
		padding-right: 0.5em;
	}

	@include md {
		text-align: left;

		&:last-child {
	    flex: 4;
	  	text-align: right;
	  }

		.logo {
			padding-left: 0;
		}

		.github {
			padding-right: 0;

			.github-text {
				display: inline;
			}

			.visually-hidden {
				display: none;
			}
		}
	}
}

h1 {
	display: inline-block;
	height: 26px;
	width: 26px;

	background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI0MHB4IiBoZWlnaHQ9IjQxcHgiIHZpZXdCb3g9IjAgMCA0MCA0MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBpZD0iRmluYWwiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxnIGlkPSJWMi0tLUhvbWVwYWdlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTMwLjAwMDAwMCwgLTM1LjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPjxwYXRoIGQ9Ik0xNjIuNTY2NDUyLDc1LjUwMTM2NTcgTDE3MCw3NS41MDEzNjU3IEwxNzAsMzUuNTAxMzY1NyBMMTMwLDM1LjUwMTM2NTcgTDEzMC4zNTQ0MSw3NS41MDEzNjU3IEwxNjIuNTU2NSw3NS41MDEzNjU3IEwxNTUuMDc2MzU4LDY4LjAwMTM2NTcgTDEzNy43ODc5NTgsNjguMDAxMzY1NyBMMTM3Ljc4Nzk1OCw0My4wMDEzNjU3IEwxNjIuNTY2NDUyLDQzLjAwMTM2NTcgTDE2Mi41NjY0NTIsNjguMDAxMzY1NyBMMTYyLjU2NjQ1Miw3NS41MDEzNjU3IFoiIGlkPSJDb21iaW5lZC1TaGFwZSI+PC9wYXRoPjwvZz48L2c+PC9zdmc+');
  background-repeat: no-repeat;
  background-size: contain;
}